<div class="d-flex flex-row justify-content-around flex-wrap">
    <div *ngFor="let item of urlAndBanner" class="tile text-center" [routerLink]='item.url'>
        {{item.banner}}
    </div>
    <!-- <div class="tile text-center" routerLink='/recharge'>
        Recharge Account
    </div>
    <div class="tile text-center" routerLink='/view-channels'>
        View available packs, channels and services
    </div>
    <div class="tile text-center" routerLink='/base-subscription'>
        Subscribe to base packs
    </div>
    <div class="tile text-center" routerLink='/add-channel'>
        Add channels to an existing subscription
    </div>
    <div class="tile text-center" routerLink='/special-subscription'>
        Subscribe to special services
    </div>
    <div class="tile text-center" routerLink='/subscription-detail'>
        View current subscription details
    </div>
    <div class="tile text-center" routerLink='/user-detail'>
        Update email and phone number for notifications
    </div> -->
</div>